{% extends "base/base.html" %}
{% block content %}
    <a type="button" class="btn btn-primary" style="margin-bottom: 20px;" href="{% url 'tp-list' course_slug %}">Go
        to Practice List</a>
    <div id="question-container" class="container">
        {% block question_content %}{% endblock %}
    </div>

    <script>
        $(document).ready(function () {
            let initialUrl = "{% url 'tp-question' course_slug=course_slug tp_slug=tp_slug %}";
            loadPageContent(initialUrl);
        });

        function loadPageContent(url) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    let container = $("#question-container");
                    container.html(response);

                    let newUrl = url.replace("/api", "");
                    window.history.replaceState({path: newUrl}, "", newUrl);
                },
                error: function () {
                    alert("An error occurred. Please try again.");
                }
            });
        }
    </script>
{% endblock content %}