{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <h2>Available Courses</h2>
        <hr>
        <div class="row justify-content-center">
            {% for course in courses %}
                <div class="col-md-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ course.flag_picture.url }}" class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <a href="{% url 'practice-category' course.slug %}"
                               class="btn btn-primary md-2">Practices</a>
                            {% if user.is_moderator %}
                                <a href="{% url 'course-update' course.slug %}"
                                   class="btn btn-secondary md-2">Update</a>

                                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ course.id }}">
                                    Delete
                                </button>

                                <!-- DELETE MODAL -->
                                <div class="modal fade" id="deleteModal{{ course.id }}" tabindex="-1"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="deleteModalLabel">
                                                    Delete {{ course.title }}</h4>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">&times
                                                </button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Are you sure you want to delete {{ course.title }} course?
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <form action="{% url 'course-delete' course.slug %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">
                                                        Confirm
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}