{% if prev_sp %}
    <button id="prev-button" class="btn btn-info mb-4">Previous</button>
{% else %}
    <button class="btn btn-info mb-4" disabled>Previous</button>
{% endif %}

{% if next_sp %}
    <button id="next-button" class="btn btn-info mb-4">Next</button>
{% else %}
    <button class="btn btn-info mb-4" disabled>Next</button>
{% endif %}

{% if is_solved.is_completed %}
    <h2><i class="bi bi-check-circle text-success"></i> {{ is_solved.point }} | {{ sp.title }}</h2>
{% elif not is_solved %}
    <h2><i class="bi bi-circle"></i> {{ sp.title }}</h2>
{% else %}
    <h2><i class="bi bi-circle"></i> {{ is_solved.point }} | {{ sp.title }}</h2>
{% endif %}
<hr>

<p>{{ sp.paragraph }}</p>
{% if sp.difficulty == 1 %}
    <p>Difficulty: Easy</p>
{% elif sp.difficulty == 2 %}
    <p>Difficulty: Intermediate</p>
{% elif sp.difficulty == 3 %}
    <p>Difficulty: Hard</p>
{% endif %}

<p>Minimum Score: {{ stats.min_point }}</p>
<p>Maximum Score: {{ stats.max_point }}</p>
<p>Average Score: {{ stats.avg_point }}</p>

<script>
    $(document).off("click", "#prev-button");
    $(document).off("click", "#next-button");

    {% if prev_sp %}
        $(document).on("click", "#prev-button", function () {
            let prevUrl = "{% url 'sp-question' course_slug=course_slug sp_slug=prev_sp.slug %}";
            loadPageContent(prevUrl);
        });
    {% endif %}

    {% if next_sp %}
        $(document).on("click", "#next-button", function () {
            let nextUrl = "{% url 'sp-question' course_slug=course_slug sp_slug=next_sp.slug %}";
            loadPageContent(nextUrl);
        });
    {% endif %}
</script>
<script>endpoint = '{% url "sp" sp.course.slug sp.slug %}'</script>
<script>csrf = '{{csrf_token}}';</script>
