{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <a type="button" class="btn btn-primary" style="margin-bottom: 20px;" href="{% url 'sp-list' course_slug %}">Go
            to Practice List</a>
        <h2>{{ sp.title }}</h2>
        <hr>

        <p>{{ sp.paragraph }}</p>
        {% if sp.difficulty == 1 %}
            <p>Difficulty: Easy</p>
        {% elif sp.difficulty == 2 %}
            <p>Difficulty: Intermediate</p>
        {% elif sp.difficulty == 3 %}
            <p>Difficulty: Hard</p>
        {% endif %}

        <form action="{% url 'sp' sp.course.slug sp.slug %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Answer input -->
            <div class="form-outline mb-4">
                <input type="file" id="answer" name="answer" class="form-control" accept="audio/*"/>
                <label class="form-label" for="answer">Upload audio file</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </form>

        {% if prev_sp %}
            <a href="{% url 'sp' course_slug=course_slug sp_slug=prev_sp.slug %}"
               class="btn btn-primary mb-4">Previous</a>
        {% else %}
            <button class="btn btn-primary mb-4" disabled>Previous</button>
        {% endif %}

        {% if next_sp %}
            <a href="{% url 'sp' course_slug=course_slug sp_slug=next_sp.slug %}" class="btn btn-primary mb-4">Next</a>
        {% else %}
            <button class="btn btn-primary mb-4" disabled>Next</button>
        {% endif %}
    </div>
{% endblock content %}
