{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <a type="button" class="btn btn-primary" style="margin-bottom: 20px;" href="{% url 'sp-list' course_slug %}">Go
        to Practice List</a>
    <div id="question-container" class="container mb-5">
        {% block question_content %}{% endblock %}
    </div>

    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="text-center">
                <button id="record" class="btn btn-primary">Record</button>
                <button id="stop" class="btn btn-danger" disabled>Stop</button>
            </div>
        </div>
        <div class="col-md-6 mt-md-0 mt-2">
            <div id="result-wrapper" class="mt-md-0 mt-2 text-center">
                <audio id="result" controls>
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
    <div class="mt-4 text-center">
        <button id="submit" disabled class="btn btn-success">Submit</button>
    </div>

    <script>
        $(document).ready(function () {
            let initialUrl = "{% url 'sp-question' course_slug=course_slug sp_slug=sp_slug %}";
            loadPageContent(initialUrl);
        });

        function loadPageContent(url) {
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    let container = $("#question-container");
                    container.empty()
                    container.html(response);

                    let newUrl = url.replace("/api", "");
                    window.history.replaceState({path: newUrl}, "", newUrl);
                },
                error: function () {
                    alert("An error occurred. Please try again.");
                }
            });
        }
    </script>
    <script src="{% static 'courses/js/audio_recorder.js' %}"></script>
{% endblock content %}
