{% extends "base/base.html" %}
{% block content %}
    <p>{{ tp.question }}</p>
    {% if tp.difficulty == 1 %}
        <p>Difficulty: Easy</p>
    {% elif tp.difficulty == 2 %}
        <p>Difficulty: Intermediate</p>
    {% elif tp.difficulty == 3 %}
        <p>Difficulty: Hard</p>
    {% endif %}

    <form action="{% url 'tp' tp.course.slug tp.slug %}" method="POST">
        {% csrf_token %}

        <!-- Multiple choice options -->
        {% for choice in choices %}
            <div class="form-check mb-4">
                <input class="form-check-input" type="radio" name="answer" id="choice{{ forloop.counter }}"
                       value="{{ choice }}">
                <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice }}</label>
            </div>
        {% endfor %}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    </form>

{% endblock content %}