{% extends "users/base.html" %}
{% block content %}
    <h2>Practice - {{ practice.id }}</h2>
    <p>{{ practice.question }}</p>

    <form action="{% url 'practice' practice.course.id practice.id %}" method="POST">
        {% csrf_token %}

        <!-- Answer input -->
        <div class="form-outline mb-4">
            <input type="text" id="answer" name="answer" class="form-control" placeholder="Your answer here..."/>
            <label class="form-label" for="answer"></label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

    </form>
{% endblock content %}