{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <h2>About Speakie</h2>
        <hr>
        <p>Welcome to Speakie, the ultimate platform for practicing and enhancing your speaking skills! Our web
            application is designed to provide you with an immersive language learning experience. Whether you're a
            beginner or an advanced learner, Speakie offers a variety of courses tailored to your language goals.
        </p>
        <p>
            With a focus on speaking proficiency, Speakie allows users to engage in interactive exercises that encourage
            conversation practice. Through real-life scenarios, dialogues, and pronunciation exercises, you'll gain
            confidence in expressing yourself fluently in your target language.
        </p>
        <p>
            But Speakie doesn't stop there. We understand that language learning encompasses more than just speaking
            skills. That's why we've incorporated multiple-choice questions for text-to-text translations, enabling you
            to enhance your reading and comprehension abilities.
        </p>
        <p>
            With four distinct courses representing different languages, you can choose the language that intrigues you
            the most or even explore multiple languages simultaneously. Each course is thoughtfully designed to cater to
            the unique aspects of the language, allowing you to delve into its grammar, vocabulary, and cultural
            nuances.
        </p>
        <p>
            As you progress through the courses and complete various practice exercises, you'll earn points to track
            your achievements. These points serve as a measure of your dedication and effort. Reaching certain
            milestones will unlock new levels, signaling your progress and motivating you to continue honing your
            skills.
        </p>
        <p>
            Whether you're learning for personal growth, academic pursuits, or professional development, Speakie is here
            to support and guide you every step of the way. Embark on your language learning journey today and unlock a
            world of possibilities with Speakie!</p>
    </div>
{% endblock content %}