{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'base/icon/favicon.ico' %}"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>

    {% if title %}
        <title>Speakie - {{ title }}</title>
    {% else %}
        <title>Speakie</title>
    {% endif %}

    <audio id="notificationSound" src="{% static 'base/audio/notification.mp3' %}" preload="auto"></audio>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">
                <img class="navbar-logo" src="{% static 'base/logo/speakie.png' %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'course-list' %}">Courses</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="dropdown">
                    {% if notifications %}
                        <i class="btn dropdown-toggle bi bi-bell-fill" id="notificationDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px; color: #ffffff">
                        </i>
                    {% else %}
                        <i class="btn dropdown-toggle bi bi-bell" id="notificationDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px; color: #ffffff">
                        </i>
                    {% endif %}
                    <ul class="dropdown-menu" id="notificationList" aria-labelledby="notificationDropdown">
                        {% for notification in notifications %}
                            <li>
                                <a class="dropdown-item" href="{{ notification.url }}"
                                   data-notification-id="{{ notification.id }}">{{ notification.message }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.is_moderator %}
                            <a class="nav-item nav-link" href="{% url 'course-create' %}">New Course</a>
                            <a class="nav-item nav-link" href="{% url 'appoint-moderator' %}">Appoint Moderators</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container align-items-center">
    <div class="row align-items-center">
        <div class="col align-items-center">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<script>
    {% if user.is_authenticated %}
        let wsProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        let socket = new WebSocket(wsProtocol + '://' + window.location.host + '/ws/notifications/');
        let notificationDropdown = document.getElementById("notificationDropdown");
        let notificationList = document.getElementById("notificationList");
        let notificationSound = document.getElementById("notificationSound");

        socket.onmessage = function (event) {
            let data = JSON.parse(event.data);
            let message = data.message;
            let url = data.url;
            let dataId = data.data_id
            let listItem = document.createElement("li");
            let link = document.createElement("a");

            link.setAttribute("class", "dropdown-item");
            link.setAttribute("href", url);
            link.setAttribute("data-notification-id", dataId)
            link.innerText = message;
            listItem.appendChild(link);
            notificationList.insertBefore(listItem, notificationList.firstChild);

            if (notificationDropdown.classList.contains("bi-bell")) {
                notificationDropdown.classList.remove("bi-bell")
                notificationDropdown.classList.add("bi-bell-fill")
            }

            playNotificationSound()
        };

        function playNotificationSound() {
            notificationSound.play();
        }

        notificationList.addEventListener("click", function (event) {
            if (event.target.tagName === "A") {
                event.preventDefault();
                let notificationId = event.target.getAttribute("data-notification-id");
                let notificationUrl = event.target.getAttribute("href");

                fetch(`/notifications/${notificationId}/read/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                })
                    .then(response => {
                        window.location.href = notificationUrl;
                    })
                    .catch(error => {
                        console.error("Error updating notification:", error);
                    });
            }
        });
    {% endif %}
</script>
</body>
</html>